* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 400px;
  background-color: #fff;
  background-size: 100vh;
  font-family: "Open Sans", sans-serif;
  color: #7d1424;
}

.page-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: center;
}

.container {
  background-color: #fffce6;
  display: inline-block;
width: 33%;
  text-align: center;
  /*
  padding: 40px;
  margin: auto;
  width: 50%;
  margin-top: 20vh;
  */
}

.container-title {
  font-size: 18px;
  margin-bottom: 40px;
}

.convert-form {
  margin-bottom: 40px;
  font-size: 24px;
}

.convert-form > .text {
  font-size: 24px;
}

.convert-form > input[type="text"] {
  color: #7d1424;
  width: 20%;
  background-color: #fcf7d3;
  border: none;
  font-size: inherit;
}

.convert-form > input[type="button"] {
  background: none;
  border: 1px #7d1424 solid;
  cursor: pointer;
  color: #7d1424;
  padding: 7px 25px 2px 25px;
  font-size: 16px;
}

.converted-value {
  font-size: 28px;s
}

.converted-value > span {
  font-size: 60px;
  font-weight: bold;
  margin-left: 40px;
}

.footer {
  border-top: 2px #7d1424 solid;
  margin-top: 20px;
  padding-top: 20px;
}

.footer > a {
  text-decoration: none;
  color: #7d1424;
}

.footer > a:hover {
  text-decoration: underline;
}
